## Using Folium Library to Geographic Overlays

Data source: https://www.kaggle.com/worldbank/world-development-indicators <br/>
Folder: 'world-development-indicators'

imports

In [2]:
import folium
import pandas as pd

### Country coordinates for plotting

Source: https://github.com/python-visualization/folium/tree/master/examples/data/world-countries.json

In [3]:
country_geo = 'geo/world-countries.json'

In [4]:
# Read in the World Development Indicators Database
data = pd.read_csv('world-development-indicators/Indicators.csv')
data.shape

(5656458, 6)

In [5]:
data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [11]:
# country_code = 'ESP'
indicator_name = 'CO2 emissions \(metric'

mask1 = data['IndicatorName'].str.contains(indicator_name)
# mask2 = data['CountryCode'].str.contains(country_code)

stage = data[mask1]
stage.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
8,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,0.643964
86,Caribbean small states,CSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,1.402641
166,Central Europe and the Baltics,CEB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,5.114244
239,East Asia & Pacific (all income levels),EAS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,1.162003
362,East Asia & Pacific (developing only),EAP,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,0.952729

### Setup our data for plotting

Create a data frame with just the country codes and the values we want plotted.

In [12]:
plot_data = stage[['CountryCode', 'Value']]
plot_data.head()

    CountryCode     Value
8           ARB  0.643964
86          CSS  1.402641
166         CEB  5.114244
239         EAS  1.162003
362         EAP  0.952729

In [13]:
# Label for the legend
hist_indicator = stage.iloc[0]['IndicatorName']

### Visualize CO2 emissions per capita using Folium

Folium provides interactive maps with the ability to create sophisticade overlays for data visualization

In [14]:
# Setup a folium map at hight-level zoom @Alok
map = folium.Map(location=[100, 0], zoom_start=1.5)

In [18]:
# choropleth maps bind Pandas Data Frames and json geometries.
map.choropleth(
    geo_data=country_geo,
    data=plot_data,
    columns=['CountryCode', 'Value'],
    key_on='feature.id',
    fill_color='YlGnBu',
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name=hist_indicator)

In [19]:
# Create Folium plot
map.save('plot_data.html')

In [20]:
# Import the Folium interactive html file
from IPython.display import HTML
HTML('<iframe src=plot_data.html width=900 height=700 />')