### imports

In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('./world-development-indicators/WDIData.csv')
data.shape

(422400, 63)

In [3]:
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,81.844982,82.407647,82.827636,83.169227,83.587141,83.954293,84.230630,84.570425,NaN,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.189815,86.136134,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,NaN,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,73.530494,74.543489,75.770972,76.772916,78.839139,77.487377,78.564439,78.958780,NaN,NaN

### Count of countries?

In [4]:
countries = data['Country Name'].unique().tolist()
len(countries)

264

### Count of countries code?

In [5]:
countries_code = data['Country Code'].unique().tolist()
len(countries_code)

264

### Count of indicators?

In [6]:
indicators = data['Indicator Code'].unique().tolist()
len(indicators)

1600

### Remodel DataFrame

In [7]:
d = []
for index, row in data.iterrows():
    for i in range(1969, 2017):
        if not pd.isna(row[str(i)]):
            d.append({
                'CountryName': row['Country Name'],
                'CountryCode': row['Country Code'],
                'IndicatorName': row['Indicator Name'],
                'IndicatorCode': row['Indicator Code'],
                'Year': str(i),
                'Value': row[str(i)]})
pd = pd.DataFrame(d)

In [8]:
pd.head()
# pd.shape

,CountryCode,CountryName,IndicatorCode,IndicatorName,Value,Year
0,ARB,Arab World,EG.CFT.ACCS.ZS,Access to clean fuels and technologies for coo...,73.675898,2000
1,ARB,Arab World,EG.CFT.ACCS.ZS,Access to clean fuels and technologies for coo...,74.928059,2001
2,ARB,Arab World,EG.CFT.ACCS.ZS,Access to clean fuels and technologies for coo...,76.255400,2002
3,ARB,Arab World,EG.CFT.ACCS.ZS,Access to clean fuels and technologies for coo...,77.129805,2003
4,ARB,Arab World,EG.CFT.ACCS.ZS,Access to clean fuels and technologies for coo...,78.114145,2004

In [9]:
 pd.to_csv('./world-development-indicators/WDIData_bis.csv', sep=';', encoding='utf-8')